* {
    box-sizing: border-box;
}
body {
    background-color: #EAEAEA;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
    padding: 2em;
    background-color: #90C7E3;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
}
header {
    background-color: #002171;
    color: #FFFFFF;
    background-position: right;
    background-repeat: no-repeat;
    text-align: center;
}
header a {
    text-decoration: none;
}
header :link {
    color: #FFFFFF;
}
header :visited {
    color: #FFFFFF;
}
header :hover {
    color: #90C7E3;
}
#homehero {
    height: 300px;
    background-image: url("coast2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#yurthero {
    height: 300px;
    background-image: url("yurt.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#trailhero {
    height: 300px;
    background-image: url("trail.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
h1 {
    padding-top: 0.5em;
    margin-bottom: 0;
    font-family: Georgia, "Times New Roman", serif;
    letter-spacing: 0.25em;
    margin-top: 0;
}
nav {
    font-weight: bold;
    padding: 0;
    font-size: 120%;
    text-align: center;
}
nav a {
    text-decoration: none;
    transition: color 3s ease-out;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}
nav li {
    border-bottom: 1px #002171 solid;
}
nav :link {
    color: #5C7FA3;
}
nav :visited {
    color: #344873;
}
nav :hover {
    color: #A52A2A
}
main {
    padding: 1px 20px 20px 30px;
    overflow: auto;
    display: block;
    background-color: #FFFFFF;
}
h2 {
    color: #1976D2;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px #CCCCCC;
}
h3 {
    font-family: Georgia, "Times New Roman", serif;
    color: #000033;
}
main ul {
    list-style-image: url("marker.gif");
}
dt {
    color: #002171;
}
.resort {
    color: #1976D2;
    font-weight: bold;
}
#contact {
    font-size: 90%;
}
footer {
    background-color: #FFFFFF;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    padding: 2em;
}
table {
    border: 2px solid #3399CC;
    border-collapse: collapse;
}
td {
    padding: 0.5em;
    border: 2px solid #3399CC;
    text-align: center;
}
th {
    padding: 0.5em;
    border: 2px solid #3399CC;
}
.text {
    text-align: left;
}
table tr:nth-of-type(odd) {
    background-color: #F5FAFC;
}
form {
    display: flex;
    flex-flow: column nowrap;
}
input, textarea {
    margin-bottom: 0.5em;
}
video, embed {
    float: right;
    padding-left: 20px;
}
@media (min-width: 600px) {
    nav ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    nav li {
        border-bottom: none;
    }
    section {
        padding-left: 2em;
        padding-right: 2em;
    }
    .content main {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
    }
    h2 {
        grid-row: 1/2;
        grid-column: 1/5;
    }
    section {
        grid-row: 2/3;
        grid-column: auto;
    }
    #special {
        grid-row: auto;
        grid-column: 1/5;
    }
    footer {
        grid-row: auto;
        grid-column: 1/5;
    }
    form {
        width: 60%;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 6em 1fr;
        grid-template-rows: auto;
    }
    form[submit] {
        grid-column: 2/3;
        width: 9em;
    }
}
@media (min-width: 1024px) {
    nav ul {
        flex-direction: column;
        padding-top: 1em;
    }
    nav {
        text-align: left;
        padding-left: 1em;
        grid-column: 1/2;
        grid-row: 2/5;
    }
    #wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        border: #002171;
        box-shadow: #002171;
        display: grid;
        grid-template-columns: 180px auto;
        grid-template-rows: auto;
    }
    header {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    div {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    main {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    footer {
        grid-column: 2/3;
        grid-row: 4/5;
    }
}